@import 'tailwindcss';

@font-face {
  font-family: 'Regola Neue';
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
  src: url('/fonts/FTRegolaNeue-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Regola Neue';
  font-style: normal;
  font-weight: 500; /* Medium */
  font-display: swap;
  src: url('/fonts/FTRegolaNeue-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Regola Neue';
  font-style: normal;
  font-weight: 600; /* SemiBold */
  font-display: swap;
  src: url('/fonts/FTRegolaNeue-SemiBold.otf') format('opentype');
}

body {
  font-family: Neue, sans-serif;
  letter-spacing: -1.1px;
}

/* Background */
#bckg-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #e5e5f7;
  opacity: 0.03;
  background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
    linear-gradient(225deg, #444cf7 25%, transparent 25%),
    linear-gradient(45deg, #444cf7 25%, transparent 25%),
    linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}
